---
import BigGradientCard from '../components/BigGradientCard.astro'
import DefaultLayout from '../layouts/DefaultLayout.astro'
import { getEvents } from '../lib/api'

const events = getEvents()
---

<DefaultLayout
  seo={{
    title: 'Events | NP Overflow',
    description: 'The workshops, bootcamps and other events offered by the Overflow Special Interest Group',
  }}
>
  <div class="w-full p-5 lg:max-w-7xl lg:mx-auto">
    <BigGradientCard gradientClass="bg-gradient-to-r from-cyan-500 to-blue-500" title={events.title} tagline={events.tagline} />

    <!-- TODO -->
    <!-- {
      events.type.map((type) => (
        <div>
          <h2>{type.title}</h2>
        </div>
      ))
    } -->
  </div>
</DefaultLayout>
