---
export interface Props {
  description: string
  url: string
}

const { description, url } = Astro.props
---

<div class="alert alert-warning shadow-sm">
  <p class="font-bold text-warning-content">
    {description}
  </p>
  <div class="flex-none">
    <a href={url} class="btn btn-sm">More Info</a>
  </div>
</div>
