---
export interface Props {
  description: string;
  url: string;
}

const { description, url } = Astro.props;
---

<div
  class="flex justify-between align-center flex-col gap-3 lg:flex-row border-primary border-2 p-3 rounded-lg"
>
  <span class="text-lg text-black dark:text-white">
    {description}
  </span>
  {
    url && (
      <a href={url} class="btn-secondary btn btn-sm">
        Join Us
      </a>
    )
  }
</div>
